# Core dependencies for DDO CIFAR-10 experiments
torch==1.12.0
torchvision==0.13.0
torchaudio==0.12.0
numpy
scipy
matplotlib
seaborn
pillow
cython
ipython
jupyter
notebook
ipykernel
tqdm
tensorboard
tensorflow
sympy
ipdb
lmdb
